@CHARSET "ISO-8859-1";

html {
	height: 100%;
}

body, area {
	font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
	height: 100%;
	margin-bottom: 30px;
	background: rgba(212, 228, 239, 1);
	background: -moz-linear-gradient(left, rgba(212, 228, 239, 1) 0%,
		rgba(228, 235, 240, 1) 19%, rgba(208, 230, 245, 1) 35%,
		rgba(134, 174, 204, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212, 228, 239,
		1)), color-stop(19%, rgba(228, 235, 240, 1)),
		color-stop(35%, rgba(208, 230, 245, 1)),
		color-stop(100%, rgba(134, 174, 204, 1)));
	background: -webkit-linear-gradient(left, rgba(212, 228, 239, 1) 0%,
		rgba(228, 235, 240, 1) 19%, rgba(208, 230, 245, 1) 35%,
		rgba(134, 174, 204, 1) 100%);
	background: -o-linear-gradient(left, rgba(212, 228, 239, 1) 0%,
		rgba(228, 235, 240, 1) 19%, rgba(208, 230, 245, 1) 35%,
		rgba(134, 174, 204, 1) 100%);
	background: -ms-linear-gradient(left, rgba(212, 228, 239, 1) 0%,
		rgba(228, 235, 240, 1) 19%, rgba(208, 230, 245, 1) 35%,
		rgba(134, 174, 204, 1) 100%);
	background: linear-gradient(to right, rgba(212, 228, 239, 1) 0%,
		rgba(228, 235, 240, 1) 19%, rgba(208, 230, 245, 1) 35%,
		rgba(134, 174, 204, 1) 100%);
}

.btn {
	font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
	display: block;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-align: center;
	padding: 10px;
	margin: 15px 0px 0px 15px;
	font-size: 18px;
	text-transform: capitalize;
	background: #ED5E2F;
	color: #FFF;
	border: 0px none;
	outline: 0px none;
	width: 100px;
}

.btn:hover {
	background: #74A599;
	cursor: pointer;
}

.btn-1 {
	background: #308919;
}

#header {
	font-size: x-large;
	color: #207ce5;
	height: 30px;
}

#content {
	height: auto;
}

#footer {
	height: 15px;
	position: absolute;
	bottom: 0;
	font-size: small;
	text-align: center;
	display: block;
}

a {
	text-decoration: none;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }