/* CSS Style for all pages */
html {
	height: 100%;
}

body, area {
	font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
	height: 100%;
	margin-bottom: 30px;
	background: rgba(212, 228, 239, 1);
	background: -moz-linear-gradient(left, rgba(212, 228, 239, 1) 0%,
		rgba(228, 235, 240, 1) 19%, rgba(208, 230, 245, 1) 35%,
		rgba(134, 174, 204, 1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212, 228, 239,
		1)), color-stop(19%, rgba(228, 235, 240, 1)),
		color-stop(35%, rgba(208, 230, 245, 1)),
		color-stop(100%, rgba(134, 174, 204, 1)));
	background: -webkit-linear-gradient(left, rgba(212, 228, 239, 1) 0%,
		rgba(228, 235, 240, 1) 19%, rgba(208, 230, 245, 1) 35%,
		rgba(134, 174, 204, 1) 100%);
	background: -o-linear-gradient(left, rgba(212, 228, 239, 1) 0%,
		rgba(228, 235, 240, 1) 19%, rgba(208, 230, 245, 1) 35%,
		rgba(134, 174, 204, 1) 100%);
	background: -ms-linear-gradient(left, rgba(212, 228, 239, 1) 0%,
		rgba(228, 235, 240, 1) 19%, rgba(208, 230, 245, 1) 35%,
		rgba(134, 174, 204, 1) 100%);
	background: linear-gradient(to right, rgba(212, 228, 239, 1) 0%,
		rgba(228, 235, 240, 1) 19%, rgba(208, 230, 245, 1) 35%,
		rgba(134, 174, 204, 1) 100%);
}

h3, h4, h5 {
	margin: 0px;
}

.btn {
	font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
	display: block;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-align: center;
	padding: 10px;
	margin: 15px 0px 0px 15px;
	font-size: 18px;
	text-transform: capitalize;
	background: #ED5E2F;
	color: #FFF;
	border: 0px none;
	outline: 0px none;
	width: 100px;
}

.btn:hover {
	background: #74A599;
	cursor: pointer;
}

.btn-1 {
	background: #308919;
}

.btn-2 {
	font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
	background: #3089AD;
	margin: 0px;
	color: #FFF;
	padding: 4px;
	font-size: 14px;
	cursor: pointer;
}

.btn-4 {
	background: #ED2F3D;
	margin: 0px;
	padding: 8px;
	font-size: 14px;
	display: inline;
	cursor: pointer;
}

.btn-4:hover {
	background: #DBAEB1;
}

input[type=text] {
	border: 1px solid white;
	padding: 5px;
	border-radius: 25px;
}

#header {
	font-size: x-large;
	color: #207ce5;
	height: 30px;
	margin: 10px;
}

#content {
	height: auto;
	font-size: large;
	margin: 10px;
}

#footer {
	height: 15px;
	position: absolute;
	bottom: 0;
	font-size: small;
	text-align: center;
	display: block;
}

.listProjs {
	margin: 10px;
	font-size: medium;
}

.listProjs ul {
	list-style-type: none;
}

.listProjs li {
	font-family: cursive;
	font-weight: bold;
}

a {
	text-decoration: none;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog>div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
	background: #00d9ff;
}

.alpBtn {
	padding: .2em 1em;
	position: relative;
	float: right;
}

#chrDiv {
	color: Green;
	position: fixed;
	overflow-y: scroll; 
	padding: 11px 10px 0px 15px;
	background-color: rgba(212, 228, 239, 1);
	/* border: 1px solid #333; */
	display: none;
	text-align: justify;
	width: 250px;
	height: 500px;
}

#chrDiv p {
	font-size: 0.917em;
}
/** Style for the cointainer **/
/* #body {
	clear: both;
	max-width: 534px;
} */
.btn-3 {
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	padding: 10px 20px;
	border: 1px solid #018dc4;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font: normal medium/normal Arial, Helvetica, sans-serif;
	color: rgba(255, 255, 255, 0.9);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: #0199d9;
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
	text-shadow: -1px -1px 0 rgba(15, 73, 168, 0.66);
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:hover {
	border: 1px solid #007cad;
	background: rgba(0, 142, 198, 1);
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:active {
	border: 1px solid #018dc4;
	background: #00a6e8;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2) inset;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2) inset;
	text-shadow: none;
	-webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.codebox {
	display: block;
	width: 800px;
	height: 300px;
	padding: 8px;
	border: 1px solid #cccccc;
	margin: 0 5px 5px 0;
	font-size: 15px;
	font: normal normal bold 20px "Courier New", Courier, monospace;
}

.compileRes {
	display: block;
	width: 700px;
	height: 300px;
	padding: 8px;
	border: 1px solid #cccccc;
	line-height: 130%;
	font-size: 13px;
	font: normal normal bold 20px "Courier New", Courier, monospace;
}

.canvas {
	display: block;
	padding: 8px;
	border: 1px solid #cccccc;
	font-size: 13px;
	font: normal normal bold 20px "Courier New", Courier, monospace;
}

#projName, #projNameLabel, #projSelect, #pkgName, #pkgNameLabel,
	#pkgSelect {
	display: none;
}

#projects, #packages, #classes {
	font-size: medium;
}

select {
	font-size: 15px;
	padding: 3px;
}

option {
	height: 5px;
}